@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div{
    width: 95%;
    margin: 0 10px;
}
.prev-arrow,
.next-arrow {
    position: absolute;
    left: 50%;
    background-color: black;
}

.prev-arrow {
    left: -100px;
  }